# individual files to ignore
.coveragerc
.dockerignore
.gitignore
.flake8
conftest.py
Dockerfile
LICENSE
test-requirements.txt
*.sh
*.ini
*.yaml
*.toml
*.md
*.properties
*.xml

# directories to ignore
.github
.ruff_cache
.vscode
datafiles/
docs/
tests/
scripts/
