# individual files to ignore
.dockerignore
.gitignore
.flake8
Dockerfile
LICENSE
*.sh
*.ini
*.txt
*.yaml
*.toml
*.md
*.properties
*.xml

# directories to ignore
.github
.ruff_cache
.vscode
datafiles/
docs/
tests/
