requests==2.*
python-dotenv==1.*
pymongo==4.*
xlsxwriter==3.*
py-cord[speed] @ git+https://github.com/Pycord-Development/pycord
selenium==4.*
seaborn==0.*
sloman-logging @ git+https://github.com/esloman/sloman-logging@v0.2.0
